.App {
  text-align: center;
}
.player{
  padding: 10px;
  border: 1px solid black;
  margin-bottom: 10px;

}
input{
  padding: 10px;
  margin-bottom: 10px;
}
.franchisePlayer{
  background-color:rgb(245, 26, 208);
  padding: 10px;
  margin: 5px;
}